<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/tabs-left.css"/>
    <link rel="stylesheet" href="../static/css/footer.css"/>
    <link rel="stylesheet" href="../static/css/category.css"/>


    <script src="../static/js/addelement.js"></script>


    <script th:inline="javascript">
        var categoryList= [[${categoryList}]];

    </script>

    <script th:inline="javascript">
        var user= [[${client.clientAutor.login}]];

    </script>



</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html">Shop</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <ul class="nav navbar-nav navbar-right" id="nav">
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart  <span class="badge">3</span></a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="'Hello,' +${client.clientAutor.login}"> <span class="caret"></span></a>
                            <ul id="dropdown-menu" class="dropdown-menu">
                                <script type="text/javascript">
                                    $(function(){
                                        addDropdownMenu(user);
                                    });
                                </script>
                            </ul>
                        </li>
                    <!--<li id="signup"><a href="registration.html#toregistration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id="login-label"><a href="#" ><span class="glyphicon glyphicon-user" th:text="${user.login}"></span></a></li>
                    <li><a href="registration.html#tologin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->

                </ul>
            </div>
        </div>
    </div>

</nav>

<div class="container-fluid">
    <div class="col-sub col-sm-2">
        <div class="container">
            <div class="category">
                <div  class="col-sm-6">
                    <h4>Category</h4>
                    <div class="col-xs-3">
                        <div class="nav nav-tabs tabs-left" id="category">
                            <script type="text/javascript">
                                $(function(){
                                    addCategory(categoryList);
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-main col-sm-10">
        <div class="container">
            <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol id="carousel-indicators" class="carousel-indicators">
                    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-generic" data-slide-to="4"></li>

                </ol>
                <!--Wrapper for slides -->
                <div id="carousel-inner" class="carousel-inner">

                    <script type="text/javascript">
                        $(function(){
                            addCarouselPhoto(4);
                        });
                    </script>
                   <!-- <div class="item active">
                        <img src="../static/img/sl1.jpg" alt="...">
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/800x400" alt="...">
                        <div class="carousel-caption">
                            <h2>Heading</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://placehold.it/800x400" alt="...">
                        <div class="carousel-caption">
                            <h2>Heading</h2>
                        </div>
                    </div>-->

                </div>
                <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>




<div class="footer">
    <p>Footer</p>
</div>
</body>

</html>